$priamry-color: #30B0FB;
$transition: all .3s ease-in-out;
$body-font: 'Open Sans', sans-serif;
$title-font: 'Poppins', sans-serif;
// reset template
a{
    text-decoration: none;
    transition: $transition;
    &:hover{
        text-decoration: none;
        transition: $transition;
    }
}

.section-title{
    h4{
        font-size: 20px;
        font-family: $title-font;
        font-weight: bold;
        position: relative;
        text-transform: uppercase;
        padding-bottom: 5px;
        margin-bottom: 30px;
        &::after{
            position: absolute;
            left: 0;
            content: "";
            bottom: -10px;
            background: $priamry-color;
            height: 2px;
            width: 100px;
            right: 0;
            margin: 0 auto;
        }
    }
    h2{
        font-size: 60px;
        font-weight: bold;
        font-family: $title-font;
        color: #000;        
        letter-spacing: -3px;
        span{
            color: $priamry-color;
        }
    }
}


body{
    color: #333;
    font-family: $body-font;
    font-size: 12px;
    line-height: 22px;    
}
.main-area{
    .download{
        position: fixed;
        right: 0px;
        bottom: 10px;
        width: 130px;
        transition: $transition; 
        a{
            background: $priamry-color;
            color: #fff;
            padding: 10px 20px;
            font-size: 13px;
            font-weight: 600;
            border-radius: 50px;
            transition: $transition;
            &:hover{
                transition: $transition;
            }
        }
    }
    .profile{
        position: relative;
        transition: $transition;
        a{
            display: block;
            img{
                border-radius: 100%;
                height: 120px;
                width: 120px;
                box-shadow: 0 1px 2px 0 rgba($priamry-color, 0.302), 0 1px 3px 1px rgba($priamry-color, 0.149);
                padding: 3px;
                margin: 0 0 10px 0;
            }
        }
    }
    .profile-informations{
        h2{
            font-family: $title-font;
            font-weight: 800;
            color: #000;
            font-size: 24px;
            margin-bottom: 0px;       
        }
        span{
            font-family: $title-font;
            color: #444;
            font-size: 14px;
        }
        ul{
            padding: 8px 0;
            list-style: none;
            margin: 0;
            li{
                display: inline-block;
                padding: 0 10px;
                border-right: 1px solid #f1f1f1;
                font-size: 13px;
                color: #000;
                a{
                    color: #000;
                    transition: $transition;
                    &:hover{
                        color: $priamry-color;
                        transition: $transition;
                    }
                }
                &:last-child{
                    border: none;
                }

            }
        }
    }
    .core-qualifications{
        margin-bottom: 10px;
        .name{
            background: #ddd;
            h4{
                font-size: 16px;
                margin: 0;
                padding: 10px;
                font-weight: 900;
                color: #000;
            }
        }
        .core-list{
            ul{
                margin: 7px 0 0 -13px;
            }
            h6{
                margin: 15px 0 0px 15px;
                font-size: 13px;
                font-weight: 300;
                strong{
                    font-weight: 700; 
                }
            }
        }
        .company-list{
            margin: 15px 0 0px 15px;
            h3{
                font-size: 14px;
                font-weight: 600;
                color: #000;
                span{
                    float: right;
                    font-weight: 100;
                }
            }
            h6{
                font-size: 13px;
                font-weight: 600;
                color: #000;
                position: relative;
                strong{
                    font-weight: 100;
                    display: block;
                    margin: 5px 0;
                    font-size: 11px;
                }
                span{
                    position: absolute;
                    right: 0;
                    top: 0;
                    font-weight: 600;
                }
            }
        }
    }
}
